.navbar-inverse {
  background-color: #1b1b1b;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.nav {
//  padding-left: 20px;
//  padding-right: 20px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.nav img {
  height: 20px;
  padding-right: 8px;
}

.ribbon {
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 148px;
  height: 148px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png);
  opacity: .7;
  -webkit-transition: opacity .5s linear;
          transition: opacity .5s linear;
}

.ribbon:hover {
  opacity: 1;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron img {
  height: 60px;
  padding-right: 8px;
}

.page-header h1 {
  font-weight: bold;
  text-align: center;
}

table img {
  height: 16px;
  padding-right: 16px;
}

.pagination > li:nth-child(2) > a {
  border-right-width: 0px;
}

.pagination > li:nth-child(3) > input {
  float: left;
  width: 60px;
  height: 34px;
  text-align: center;
  border-radius: 0px;
}

.pagination > li:nth-child(4) > a {
  border-left-width: 0px;
  margin-left: 0px;
}

li img {
  height: 16px;
  padding-right: 8px;
}

label {
  font-weight: normal;
}

.form-control {
  padding: 6px 6px;
}

.glyphicon {
  display: inline;
}

.ui-accordion .ui-accordion-content a {
  color: #0088cc;
}

.ui-accordion .ui-accordion-content img {
  padding: 10px 0;
}

pre {
  font-size: 14px;
}

footer {
  padding-top: 10px;
  margin: 10px 0;
  border-top: 1px solid #eeeeee;
  text-align: center;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0px 4px;
}
