body {
  font-size: 14px;
  line-height: 20px;
}

.nav {
  font-weight: bold;
}

.navbar img {
  height: 20px;
  padding-right: 8px;
}

.ribbon {
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png);
  opacity: .7;
  -webkit-transition: opacity .5s linear;
     -moz-transition: opacity .5s linear;
      -ms-transition: opacity .5s linear;
       -o-transition: opacity .5s linear;
          transition: opacity .5s linear;
}

.ribbon:hover {
  opacity: 1;
}

.hero-unit {
  padding-bottom: 10px;
}

.hero-unit img {
  height: 60px;
  padding-right: 8px;
}

header, footer, h1 {
  text-align: center;
}

table img {
  height: 16px;
  padding-right: 16px;
}

li img {
  height: 16px;
  padding-right: 8px;
}

.pagination input {
  float: left;
  padding: 0 14px;
  width: 40px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
}

footer {
  padding-top: 17px;
  margin: 18px 0;
  border-top: 1px solid #eeeeee;
}

footer img {
  width: 20px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
}
