.nav {
  font-weight: bold;
}

.nav img {
  height: 20px;
  padding-right: 8px;
}

.ribbon {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 134px;
  height: 134px;
  background: url(//s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png);
  opacity: .7;
  -webkit-transition: opacity .5s linear;
          transition: opacity .5s linear;
}

.ribbon:hover {
  opacity: 1;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron img {
  height: 60px;
  padding-right: 8px;
}

.page-header h1 {
  font-weight: bold;
  text-align: center;
}

table img {
  height: 20px;
  margin-right: 16px;
}

.pagination > li:nth-child(2) > a {
  border-right-width: 0px;
}

.pagination > li:nth-child(3) > input {
  float: left;
  width: 60px;
  height: 34px;
  text-align: center;
  border-radius: 0px;
}

.pagination > li:nth-child(4) > a {
  border-left-width: 0px;
  margin-left: 0px;
}

li img {
  height: 20px;
  padding-right: 8px;
}

label {
  font-weight: normal;
}

.form-control {
  padding: 6px 6px;
}

input[type="file"] {
  display: inline;
}

canvas {
  width: 100%;
  height: 800px;
}

.ui-accordion .ui-accordion-content {
  background: none;
}

.ui-accordion .ui-accordion-content a {
  color: #0088cc;
}

.ui-accordion .ui-accordion-content img {
  padding: 10px 0;
}

pre {
  font-size: 14px;
}

.btn-group {
  display: inherit;
}

.btn-group > .btn {
  float: none;
}

footer {
  padding-top: 10px;
  margin: 10px 0;
  border-top: 1px solid #eeeeee;
  text-align: center;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0px 4px;
}
