.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png);
  opacity: .7;
  -webkit-transition: opacity .5s linear;
     -moz-transition: opacity .5s linear;
      -ms-transition: opacity .5s linear;
       -o-transition: opacity .5s linear;
          transition: opacity .5s linear;
}

.ribbon:hover {
  opacity: 1;
}

.logo {
  height: 60px;
}

header, footer, h1 {
  text-align: center;
}

footer {
  padding-top: 17px;
  margin: 18px 0;
  border-top: 1px solid #eeeeee;
}

table img {
  height: 16px;
}

.pagination input {
  float: left;
  padding: 0 14px;
  width: 40px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
}

img[alt="HTML5 logo"] {
  width: 20px;
  height: 20px;
}
